{
  "openapi": "3.0.1",
  "info": {
    "title": "APIs PARA O CGNFSe, RFB e MUNICÍPIOS NO SISTEMA NACIONAL NFS-e",
    "description": "<p><strong>Protocolo de comunicação:</strong> TLS 1.0, TLS 1.1 e TLS 1.2 com autenticação mútua</p>  <p><strong>Formato para troca de mensagens:</strong> JSON</p>  <p><strong>Formato dos documentos da NFS-e:</strong> XML 1.0  <a href =\"https://www.w3.org/TR/REC-xml\"> (https://www.w3.org/TR/REC-xml)</a> </p>   <p><strong>Codificação de caracteres:</strong> UTF-8</p> <p><strong>Certificado digital:</strong> Emitido por Autoridade Certificadora ICP-Brasil, tipo A1 ou A3, CNPJ ou CPF, com \"Autenticação do Cliente\"</p> <p><strong>Padrão de assinatura dos documentos XML:</strong> XMLDSIG <a href=\"https://www.w3.org/TR/xmldsig-core\">  (https://www.w3.org/TR/xmldsig-core/) </a>  </p>    <p><strong>Padrão de compactação dos documentos XML para troca de mensagens:</strong> GZip com representao base64binary</p><br/>",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://sefin.nfse.gov.br/sefinnacional"
    },
    {
      "url": "https://adn.nfse.gov.br"
    },
    {
      "url": "https://adn.nfse.gov.br/man"
    }
  ],
  "paths": {
    "/dfe": {
      "post": {
        "tags": [
          "ADN - https://adn.nfse.gov.br"
        ],
        "summary": "Recepciona um lote de Documentos",
        "parameters": [
          {
            "name": "X-SSL-Client-Cert",
            "in": "header",
            "description": "Ceritifcado Base64",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Forwarded-For",
            "in": "header",
            "description": "IP transmisao",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecepcaoRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RecepcaoResponseLote"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecepcaoResponseLote"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecepcaoResponseLote"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RecepcaoResponseLote"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RecepcaoResponseLote"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },

    "/municipios/dfe/{NSU}": {
      "get": {
        "tags": [
          "ADN - https://adn.nfse.gov.br"
        ],
        "summary": "Retorna um lote contendo até 50 Documentos Fiscais de Serviço a partir do NSU informado, sem incluí-lo",
        "parameters": [
          {
            "name": "NSU",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tipoNSU",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TipoNSU"
            }
          },
          {
            "name": "lote",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              }
            }
          }
        }
      }
    },
    "/municipios/NFSe/{ChaveAcesso}/Eventos": {
      "get": {
        "tags": [
          "ADN - https://adn.nfse.gov.br"
        ],
        "summary": "Retorna um lote contendo até 50 Documentos Fiscais de Serviço do tipo Evento vinculados à chave de acesso informada",

        "parameters": [
          {
            "name": "ChaveAcesso",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              }
            }
          }
        }
      }
    },

    "/nfse/{chaveAcesso}": {
      "get": {
        "tags": [
          "Sefin Nacional - https://sefin.nfse.gov.br/sefinnacional"
        ],
        "summary": "Retorna a NFS-e a partir da consulta pela chave de acesso correspondente (50 posições).",
        "operationId": "NFSe_Get",
        "parameters": [
          {
            "name": "chaveAcesso",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NFS-e encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NFSeGetResponseSucesso"
                }
              }
            }
          },
          "400": {
            "description": "A chave de acesso consultada deve conter 50 números.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErro"
                }
              }
            }
          },
          "401": {
            "description": "Não foi possível obter o certificado de cliente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErro"
                }
              }
            }
          },
          "404": {
            "description": "Chave de acesso não encontrada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErro"
                }
              }
            }
          }
        }
      }
    },
    "/nfse/{ChaveAcesso}/eventos": {
      "get": {
        "tags": [
          "Sefin Nacional - https://sefin.nfse.gov.br/sefinnacional"
        ],
        "summary": "Retorna os Documentos Fiscais de Serviço do tipo Evento vinculados à chave de acesso informada",
        "parameters": [
          {
            "name": "ChaveAcesso",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nfse/{ChaveAcesso}/eventos/{tipoevento}": {
      "get": {
        "tags": [
          "Sefin Nacional - https://sefin.nfse.gov.br/sefinnacional"
        ],
        "summary": "Retorna os Documentos Fiscais de Serviço do tipo Evento vinculados à chave de acesso informada",
        "parameters": [
          {
            "name": "ChaveAcesso",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoteDistribuicaoNSUResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nfse/{chaveAcesso}/eventos/{tipoEvento}/{numSeqEvento}": {
      "get": {
        "tags": [
          "Sefin Nacional - https://sefin.nfse.gov.br/sefinnacional"
        ],
        "summary": "Retorna NFS-e e seus eventos relacionados a partir da consulta pela chave de acesso da NFS-e.",
        "operationId": "Eventos_Get",
        "parameters": [
          {
            "name": "chaveAcesso",
            "in": "path",
            "description": "Chave de acesso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tipoEvento",
            "in": "path",
            "description": "Tipo de evento",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "enum": [
                101101,
                101103,
                105102,
                105104,
                105105,
                202201,
                202205,
                203202,
                203206,
                204203,
                204207,
                205204,
                205208,
                305101,
                305102,
                305103,
                907201,
                967203
              ]
            }
          },
          {
            "name": "numSeqEvento",
            "in": "path",
            "description": "N\ufffdmero sequencial do evento. Se informado, os demais parâmetros s\ufffdo obrigat\ufffdrios",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Eventos encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventosPostResponseSucesso"
                }
              }
            }
          },
          "401": {
            "description": "Usuário não tem permiss\ufffdo para acessar os eventos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErro"
                }
              }
            }
          },
          "404": {
            "description": "Nenhum evento encontrado para a NFS-e",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErro"
                }
              }
            }
          },
          "422": {
            "description": "A requisição violou alguma regra de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErro"
                }
              }
            }
          }
        }
      }
    },

    "/parametros_municipais/{codigoMunicipio}/{codigoServico}/{competencia}/aliquota": {
      "get": {
        "tags": [
          "Parâmetros Municipais - https://sefin.nfse.gov.br/sefinnacional"
        ],
        "summary": "Retorna a alíquota do ISSQN parametrizada de um município a partir desta consulta.",
        "operationId": "Aliquotas_Get",
        "parameters": [
          {
            "name": "codigoMunicipio",
            "description": "O código do município deve ser composto por sete dígitos.",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "codigoServico",
            "description": "O código do serviço deve ser informado no formato 00.00.00.000.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "competencia",
            "description": "No formato MM/DD/YYYY",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Alíquota recuperada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultadoConsultaAliquotas"
                }
              }
            }
          },
          "400": {
            "description": "Chamada mal formada. A competência informada não é uma data válida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultadoConsultaAliquotas"
                }
              }
            }
          },
          "404": {
            "description": "Convênio para o código do município não se encontra na Situação='Ativa'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultadoConsultaAliquotas"
                }
              }
            }
          }
        }


      }
    },
    "/parametros_municipais/{codigoMunicipio}/{codigoServico}/historicoaliquotas": {
      "get": {
        "tags": [ "Parâmetros Municipais - https://sefin.nfse.gov.br/sefinnacional" ],
        "summary": "Retorna histórico de alíquotas do ISSQN parametrizadas de um município a partir de um código de município e código de serviço.",
        "operationId": "Aliquotas_Get",
        "consumes": [],
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "codigoMunicipio",
            "description": "O código do município deve ser composto por sete dígitos.",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "codigoServico",
            "description": "O código do serviço deve ser informado no formato 00.00.00.000.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Histório de alíquotas recuperados com sucesso.",
            "schema": { "$ref": "#/components/schemas/ResultadoConsultaAliquotas" }
          },
          "400": {
            "description": "Chamada mal formada. O código do serviço deve ser informado no formato 00.00.00.000.",
            "schema": { "$ref": "#/components/schemas/ResultadoConsultaAliquotas" }
          },
          "404": {
            "description": "Convênio para o código do município não se encontra na Situação='Ativa'.",
            "schema": { "$ref": "#/components/schemas/ResultadoConsultaAliquotas" }
          }
        }
      }
    },
    "/parametros_municipais/{codigoMunicipio}/convenio": {
      "get": {
        "tags": [
          "Parâmetros Municipais - https://sefin.nfse.gov.br/sefinnacional"
        ],
        "summary": "Retorna os parâmetros do convênio de um município a partir desta consulta.",
        "operationId": "Convenio_Get",
        "parameters": [
          {
            "name": "codigoMunicipio",
            "description": "O código do município deve ser composto por sete dígitos.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parâmetros do convênio recuperados com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultadoConsultaConfiguracoesConvenio"
                }
              }
            }
          },
          "400": {
            "description": "Chamada mal formada. O código do município deve ser composto por sete dígitos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultadoConsultaConfiguracoesConvenio"
                }
              }
            }
          },
          "404": {
            "description": "Convênio para o código do município não se encontra na Situação='Ativa'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultadoConsultaConfiguracoesConvenio"
                }
              }
            }
          }
        }
      }
    },
    "/parametros_municipais/{codigoMunicipio}/{codigoServico}/{competencia}/regimes_especiais": {
      "get": {
        "tags": [
          "Parâmetros Municipais - https://sefin.nfse.gov.br/sefinnacional"
        ],
        "summary": "Retorna os parâmetros de regimes especiais de tributação de um município a partir desta consulta.",
        "operationId": "RegimesEspeciais_Get",
        "parameters": [
          {
            "name": "codigoMunicipio",
            "description": "O código do município deve ser composto por sete dígitos.",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "codigoServico",
            "description": "O código do serviço deve ser informado no formato 00.00.00.000.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "competencia",
            "description": "No formato MM/DD/YYYY",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Parâmetros de regimes especiais recuperados com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultadoConsultaRegimesEspeciais"
                }
              }
            }
          },
          "400": {
            "description": "Chamada mal formada. A competência informada não é uma data válida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultadoConsultaRegimesEspeciais"
                }
              }
            }
          },
          "404": {
            "description": "Convênio para o código do município não se encontra na Situação='Ativa'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultadoConsultaRegimesEspeciais"
                }
              }
            }
          }
        }
      }
    },
    "/parametros_municipais/{codigoMunicipio}/{competencia}/retencoes": {
      "get": {
        "tags": [
          "Parâmetros Municipais - https://sefin.nfse.gov.br/sefinnacional"
        ],
        "summary": "Retorna os parâmetros para retenções do ISSQN de um município a partir desta consulta.",
        "operationId": "Retencoes_Get",
        "parameters": [
          {
            "name": "codigoMunicipio",
            "description": "O código do município deve ser composto por sete dígitos.",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "competencia",
            "description": "No formato MM/DD/YYYY",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Parâmetros de retenções recuperados com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultadoConsultaRetencoes"
                }
              }
            }
          },
          "400": {
            "description": "Chamada mal formada. O código do município deve ser composto por sete dígitos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultadoConsultaRetencoes"
                }
              }
            }
          },
          "404": {
            "description": "Convênio para o código do município não se encontra na Situação='Ativa'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultadoConsultaRetencoes"
                }
              }
            }
          }
        }
      }
    },
    "/parametros_municipais/{codigoMunicipio}/{numeroBeneficio}/{competencia}/beneficio": {
      "get": {
        "tags": [ "Parâmetros Municipais - https://sefin.nfse.gov.br/sefinnacional" ],
        "summary": "Retorna os parâmetros de um número de benefício municipal a partir desta consulta.",
        "operationId": "Beneficio_Get",
        "parameters": [
          {
            "name": "codigoMunicipio",
            "description": "O código do município deve ser composto por sete dígitos.",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "numeroBeneficio",
            "description": "O número do município deve ser composto por onze dígitos.",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "competencia",
            "description": "No formato MM/DD/YYYY",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Benefício recuperado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultadoConsultaBeneficio"
                }
              }
            }
          },
          "400": {
            "description": "Chamada mal formada. A competência informada não é uma data válida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultadoConsultaBeneficio"
                }
              }
            }
          },
          "404": {
            "description": "Parâmetros do benefício de número <NumeroBeneficio> não encontrado para a competência.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultadoConsultaBeneficio"
                }
              }
            }
          }
        }

      }
    }
  },
  "components": {
    "schemas": {
      "TipoNSU": {
        "enum": [
          "RECEPCAO",
          "DISTRIBUICAO",
          "MEI"
        ],
        "type": "string"
      },
      "StatusProcessamentoDistribuicao": {
        "enum": [
          "REJEICAO",
          "NENHUM_DOCUMENTO_LOCALIZADO",
          "DOCUMENTOS_LOCALIZADOS"
        ],
        "type": "string"
      },
      "TipoDocumentoRequisicao": {
        "enum": [
          "DPS",
          "PEDIDO_REGISTRO_EVENTO",
          "NFSE",
          "EVENTO"
        ],
        "type": "string"
      },
      "TipoEvento": {
        "enum": [
          "CANCELAMENTO",
          "SOLICITACAO_CANCELAMENTO_ANALISE_FISCAL",
          "CANCELAMENTO_POR_SUBSTITUICAO",
          "CANCELAMENTO_DEFERIDO_ANALISE_FISCAL",
          "CANCELAMENTO_INDEFERIDO_ANALISE_FISCAL",
          "CONFIRMACAO_PRESTADOR",
          "REJEICAO_PRESTADOR",
          "CONFIRMACAO_TOMADOR",
          "REJEICAO_TOMADOR",
          "CONFIRMACAO_INTERMEDIARIO",
          "REJEICAO_INTERMEDIARIO",
          "CONFIRMACAO_TACITA",
          "ANULACAO_REJEICAO",
          "CANCELAMENTO_POR_OFICIO",
          "BLOQUEIO_POR_OFICIO",
          "DESBLOQUEIO_POR_OFICIO",
          "INCLUSAO_NFSE_DAN",
          "TRIBUTOS_NFSE_RECOLHIDOS"
        ],
        "type": "string"
      },
      "DistribuicaoNSU": {
        "type": "object",
        "properties": {
          "NSU": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "ChaveAcesso": {
            "type": "string",
            "nullable": true
          },
          "TipoDocumento": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TipoDocumentoRequisicao"
              }
            ]
          },
          "TipoEvento": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TipoEvento"
              }
            ],
            "nullable": true
          },
          "ArquivoXml": {
            "type": "string",
            "nullable": true
          },
          "DataHoraRecebimento": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "DataHoraGeracao": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Enum": {
        "type": "object",
        "additionalProperties": false
      },
      "MensagemProcessamento": {
        "type": "object",
        "properties": {
          "Mensagem": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Enum"
              }
            ],
            "nullable": true
          },
          "Parametros": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Codigo": {
            "type": "string",
            "nullable": true
          },
          "Descricao": {
            "type": "string",
            "nullable": true
          },
          "Complemento": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TipoAmbiente": {
        "enum": [
          "PRODUCAO",
          "HOMOLOGACAO"
        ],
        "type": "string"
      },
      "LoteDistribuicaoNSUResponse": {
        "type": "object",
        "properties": {
          "StatusProcessamento": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StatusProcessamentoDistribuicao"
              }
            ]
          },
          "LoteDFe": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DistribuicaoNSU"
            },
            "nullable": true
          },
          "Alertas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MensagemProcessamento"
            },
            "nullable": true
          },
          "Erros": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MensagemProcessamento"
            },
            "nullable": true
          },
          "TipoAmbiente": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TipoAmbiente"
              }
            ]
          },
          "VersaoAplicativo": {
            "type": "string",
            "nullable": true
          },
          "DataHoraProcessamento": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "CreditoAgrupadoContribuinte": {
        "type": "object",
        "properties": {
          "inscricaoContribuinte": {
            "type": "string",
            "nullable": true
          },
          "tipoInscricaoContribuinte": {
            "type": "string",
            "nullable": true
          },
          "valorTotalCreditos": {
            "type": "number",
            "format": "double"
          },
          "saldoTotalDisponivel": {
            "type": "number",
            "format": "double"
          },
          "numeroCreditos": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "TipoCredito": {
        "enum": [
          1,
          2
        ],
        "type": "integer",
        "format": "int32"
      },
      "TipoMotivoCredito": {
        "enum": [
          1,
          2,
          3,
          4
        ],
        "type": "integer",
        "format": "int32"
      },
      "TipoInscricao": {
        "enum": [
          0,
          1,
          2,
          3
        ],
        "type": "integer",
        "format": "int32"
      },
      "TipoSimNao": {
        "enum": [
          0,
          1,
          -1
        ],
        "type": "integer",
        "format": "int32"
      },
      "Credito": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "tipoCredito": {
            "$ref": "#/components/schemas/TipoCredito"
          },
          "dataExpiracao": {
            "type": "string",
            "format": "date-time"
          },
          "dataCompetencia": {
            "type": "string",
            "format": "date-time"
          },
          "motivoCredito": {
            "$ref": "#/components/schemas/TipoMotivoCredito"
          },
          "codigoTributario": {
            "type": "integer",
            "format": "int32"
          },
          "codigoMunicipio": {
            "type": "integer",
            "format": "int32"
          },
          "nomeMunicipio": {
            "type": "string",
            "nullable": true
          },
          "ufMunicipio": {
            "type": "string",
            "nullable": true
          },
          "inscricaoContribuinte": {
            "type": "string",
            "nullable": true
          },
          "tipoInscricaoContribuinte": {
            "$ref": "#/components/schemas/TipoInscricao"
          },
          "valorCredito": {
            "type": "number",
            "format": "double"
          },
          "saldoDisponivel": {
            "type": "number",
            "format": "double"
          },
          "numeroDocumento": {
            "type": "integer",
            "format": "int64"
          },
          "passivelAtualizacao": {
            "$ref": "#/components/schemas/TipoSimNao"
          },
          "observacao": {
            "type": "string",
            "nullable": true
          },
          "dataHoraRegistro": {
            "type": "string",
            "format": "date-time"
          },
          "dataHoraAtualizacao": {
            "type": "string",
            "format": "date-time"
          },
          "indicadorRegistroAtivo": {
            "$ref": "#/components/schemas/TipoSimNao"
          }
        },
        "additionalProperties": false
      },
      "CreditoModel": {
        "type": "object",
        "properties": {
          "inscricaoContribuinte": {
            "type": "string",
            "nullable": true
          },
          "codigoMunicipio": {
            "type": "integer",
            "format": "int32"
          },
          "nomeMunicipio": {
            "type": "string",
            "nullable": true
          },
          "ufMunicipio": {
            "type": "string",
            "nullable": true
          },
          "codigoTributario": {
            "type": "integer",
            "format": "int32"
          },
          "motivoCredito": {
            "$ref": "#/components/schemas/TipoMotivoCredito"
          },
          "valorCredito": {
            "type": "number",
            "format": "double"
          },
          "dataExpiracao": {
            "type": "string",
            "format": "date-time"
          },
          "dataCompetencia": {
            "type": "string",
            "format": "date-time"
          },
          "numeroDocumento": {
            "type": "integer",
            "format": "int64"
          },
          "passivelAtualizacao": {
            "$ref": "#/components/schemas/TipoSimNao"
          },
          "observacao": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TipoOperacaoCredito": {
        "enum": [
          1,
          2,
          3
        ],
        "type": "integer",
        "format": "int32"
      },
      "AuditoriaCreditoModel": {
        "type": "object",
        "properties": {
          "tipoOperacao": {
            "$ref": "#/components/schemas/TipoOperacaoCredito"
          },
          "versaoAplicGerador": {
            "type": "string",
            "nullable": true
          },
          "cpfCadastrador": {
            "type": "string",
            "nullable": true
          },
          "ipCadastrador": {
            "type": "string",
            "nullable": true
          },
          "hostName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "NovoCreditoModel": {
        "type": "object",
        "properties": {
          "credito": {
            "$ref": "#/components/schemas/CreditoModel"
          },
          "auditoriaCredito": {
            "$ref": "#/components/schemas/AuditoriaCreditoModel"
          }
        },
        "additionalProperties": false
      },
      "BeneficioReducaoBaseCalculoDTO": {
        "type": "object",
        "properties": {
          "codigoMunicipio": {
            "type": "integer",
            "format": "int32"
          },
          "listaServicos": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RecepcaoRequest": {
        "type": "object",
        "properties": {
          "LoteXmlGZipB64": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RecepcaoResponseDocumento": {
        "type": "object",
        "properties": {
          "ChaveAcesso": {
            "type": "string",
            "description": "Chave de acesso",
            "nullable": true
          },
          "Nsu": {
            "type": "string",
            "description": "NSU - Número Sequencial de Busca",
            "nullable": true
          },
          "StatusProcessamento": {
            "type": "string",
            "description": "Status do processamento",
            "nullable": true
          },
          "Alertas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MensagemProcessamento"
            },
            "description": "Alertas da NFS-e",
            "nullable": true,
            "readOnly": true
          },
          "Erros": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MensagemProcessamento"
            },
            "description": "Erros da NFS-e gerada",
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "RecepcaoResponseLote": {
        "type": "object",
        "properties": {
          "Lote": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecepcaoResponseDocumento"
            },
            "description": "Lote de documentos processados",
            "nullable": true
          },
          "TipoAmbiente": {
            "$ref": "#/components/schemas/TipoAmbiente"
          },
          "VersaoAplicativo": {
            "type": "string",
            "nullable": true
          },
          "DataHoraProcessamento": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {
          "type": "object",
          "additionalProperties": false
        }
      },
      "ResultadoConsultaParametrosMunicipais": {
        "type": "object",
        "properties": {
          "dataHoraProcessamento": {
            "type": "string",
            "format": "date-time"
          },
          "tipoAmbiente": {
            "type": "integer",
            "format": "int32",
            "enum": [
              1,
              2
            ]
          },
          "versaoAplicativo": {
            "type": "string"
          },
          "mensagem": {
            "type": "string"
          }
        }
      },
      "ResultadoConsultaRegimesEspeciais": {
        "type": "object",
        "properties": {
          "dataHoraProcessamento": {
            "type": "string",
            "format": "date-time"
          },
          "tipoAmbiente": {
            "type": "integer",
            "format": "int32",
            "enum": [
              1,
              2
            ]
          },
          "versaoAplicativo": {
            "type": "string"
          },
          "regimesEspeciais": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InfoRegimeEspecialHistorico"
                }
              }
            }
          },
          "mensagem": {
            "type": "string"
          }
        }
      },
      "InfoRegimeEspecialHistorico": {
        "type": "object",
        "properties": {
          "sit": {
            "type": "integer",
            "format": "int32",
            "enum": [
              1,
              2
            ]
          },
          "dtIni": {
            "type": "string",
            "format": "date-time"
          },
          "dtFim": {
            "type": "string",
            "format": "date-time"
          },
          "motivo": {
            "type": "string"
          },
          "dhReg": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ResultadoConsultaRetencoes": {
        "type": "object",
        "properties": {
          "dataHoraProcessamento": {
            "type": "string",
            "format": "date-time"
          },
          "tipoAmbiente": {
            "type": "integer",
            "format": "int32",
            "enum": [
              1,
              2
            ]
          },
          "versaoAplicativo": {
            "type": "string"
          },
          "retencoes": {
            "$ref": "#/components/schemas/ParametrosRetencao"
          },
          "mensagem": {
            "type": "string"
          }
        }
      },
      "ResultadoConsultaAliquotas": {
        "type": "object",
        "properties": {
          "dataHoraProcessamento": {
            "type": "string",
            "format": "date-time"
          },
          "tipoAmbiente": {
            "type": "integer",
            "format": "int32",
            "enum": [
              1,
              2
            ]
          },
          "versaoAplicativo": {
            "type": "string"
          },
          "aliquotas": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ParametrosAliquotaHistorico"
              }
            }
          },
          "mensagem": {
            "type": "string"
          }
        }
      },
      "ParametrosAliquotaHistorico": {
        "type": "object",
        "properties": {
          "tipo": {
            "type": "integer",
            "format": "int32"
          },
          "aliq": {
            "type": "number",
            "format": "double"
          },
          "dtIni": {
            "type": "string",
            "format": "date-time"
          },
          "dtFim": {
            "type": "string",
            "format": "date-time"
          },
          "dhReg": {
            "type": "string",
            "format": "date-time"
          },
          "insc": {
            "type": "string"
          },
          "desc": {
            "type": "string"
          },
          "inscEncer": {
            "type": "string"
          },
          "motEncer": {
            "type": "string"
          },
          "dhRegEncer": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ResultadoConsultaConfiguracoesConvenio": {
        "type": "object",
        "properties": {
          "dataHoraProcessamento": {
            "type": "string",
            "format": "date-time"
          },
          "tipoAmbiente": {
            "type": "integer",
            "format": "int32",
            "enum": [
              1,
              2
            ]
          },
          "versaoAplicativo": {
            "type": "string"
          },
          "parametrosConvenio": {
            "$ref": "#/components/schemas/ParametrosConfiguracaoConvenio"
          },
          "parametrosCancelamento": {
            "$ref": "#/components/schemas/ParametrosCancelamento"
          },
          "parametrosSubstituicao": {
            "$ref": "#/components/schemas/ParametrosSubstituicao"
          },
          "mensagem": {
            "type": "string"
          }
        }
      },
      "ParametrosConfiguracaoConvenio": {
        "type": "object",
        "properties": {
          "tipo": {
            "type": "integer",
            "format": "int32",
            "enum": [
              1,
              2
            ]
          },
          "aderenteAmbienteNacional": {
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              -1
            ]
          },
          "aderenteEmissorNacional": {
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              -1
            ]
          },
          "origCad": {
            "type": "integer",
            "format": "int32",
            "enum": [
              1,
              2
            ]
          },
          "aderenteMAN": {
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              -1
            ]
          },
          "permiteAproveitametoDeCreditos": {
            "type": "boolean"
          }
        }
      },
      "ParametrosCancelamento": {
        "type": "object",
        "properties": {
          "prazoCancelamentoEmDias": {
            "type": "integer",
            "format": "int32"
          },
          "valorMaximoServico": {
            "type": "number",
            "format": "double"
          },
          "permiteCancelamentoSemTomador": {
            "type": "boolean"
          },
          "permitirCancelamentoNotaComEventoTributoRecolhido": {
            "type": "boolean"
          }
        }
      },
      "ParametrosSubstituicao": {
        "type": "object",
        "properties": {
          "prazoEmDias": {
            "type": "integer",
            "format": "int32"
          },
          "aceitarSemIdentificacaoTomador": {
            "type": "boolean"
          },
          "aceitarVinculadaAGuia": {
            "type": "boolean"
          },
          "aceitarComManifestacaoVinculada": {
            "type": "boolean"
          },
          "aceitarComISSRetido": {
            "type": "boolean"
          },
          "permitirAlteracaoDasPessoas": {
            "type": "boolean"
          },
          "permitirSubstituicaoNotaComEventoTributoRecolhido": {
            "type": "boolean"
          }
        }
      },
      "ParametrosRetencao": {
        "type": "object",
        "properties": {
          "art6": {
            "$ref": "#/components/schemas/ParametrosArtigoSexto"
          },
          "retMun": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParametrosRetencaoMunicipal"
            }
          }
        }
      },
      "ParametrosArtigoSexto": {
        "type": "object",
        "properties": {
          "habilitado": {
            "type": "boolean"
          },
          "hist": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParametrosArtigoSextoHistorico"
            }
          }
        }
      },
      "ParametrosRetencaoMunicipal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "idLei": {
            "type": "integer",
            "format": "int64"
          },
          "desc": {
            "type": "string"
          },
          "dtIni": {
            "type": "string",
            "format": "date-time"
          },
          "dtFim": {
            "type": "string",
            "format": "date-time"
          },
          "tpRet": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32",
              "enum": [
                0,
                1,
                2,
                3
              ]
            }
          },
          "motFimVig": {
            "type": "string"
          },
          "serv": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParametrosRetencaoMunicipalServico"
            }
          },
          "respTrib": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParametrosRetencaoMunicipalInscricao"
            }
          }
        }
      },
      "ParametrosArtigoSextoHistorico": {
        "type": "object",
        "properties": {
          "dtIni": {
            "type": "string",
            "format": "date-time"
          },
          "dtFim": {
            "type": "string",
            "format": "date-time"
          },
          "dhRegIni": {
            "type": "string",
            "format": "date-time"
          },
          "inscRespIni": {
            "type": "string"
          },
          "obsIni": {
            "type": "string"
          },
          "dhRegFim": {
            "type": "string",
            "format": "date-time"
          },
          "inscRespFim": {
            "type": "string"
          },
          "obsFim": {
            "type": "string"
          }
        }
      },
      "ParametrosRetencaoMunicipalServico": {
        "type": "object",
        "properties": {
          "codigo": {
            "type": "string"
          },
          "hist": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParametrosRetencaoMunicipalServicoHistorico"
            }
          }
        }
      },
      "ParametrosRetencaoMunicipalInscricao": {
        "type": "object",
        "properties": {
          "tpInsc": {
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          "insc": {
            "type": "string"
          },
          "hist": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParametrosRetencaoMunicipalInscricaoHistorico"
            }
          }
        }
      },
      "ParametrosRetencaoMunicipalServicoHistorico": {
        "type": "object",
        "properties": {
          "dtIni": {
            "type": "string",
            "format": "date-time"
          },
          "dtFim": {
            "type": "string",
            "format": "date-time"
          },
          "dhRegIni": {
            "type": "string",
            "format": "date-time"
          },
          "obsIni": {
            "type": "string"
          },
          "inscRespIni": {
            "type": "string"
          },
          "dhRegFim": {
            "type": "string",
            "format": "date-time"
          },
          "obsFim": {
            "type": "string"
          },
          "inscRespFim": {
            "type": "string"
          }
        }
      },
      "ParametrosRetencaoMunicipalInscricaoHistorico": {
        "type": "object",
        "properties": {
          "dtIni": {
            "type": "string",
            "format": "date-time"
          },
          "dtFim": {
            "type": "string",
            "format": "date-time"
          },
          "dhRegIni": {
            "type": "string",
            "format": "date-time"
          },
          "inscRespIni": {
            "type": "string"
          },
          "obsIni": {
            "type": "string"
          },
          "dhRegFim": {
            "type": "string",
            "format": "date-time"
          },
          "inscRespFim": {
            "type": "string"
          },
          "obsFim": {
            "type": "string"
          }
        }
      }
    }

  }
}